.question_box {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.question_box--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.question_box--header .name {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}

.question_box--header .view {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #3751FF;
    cursor: pointer;
}

.question_boxes-feature {
    height: 200px;
}

.question_box-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DFE0EB;
    height: 55px;
    align-items: center;
}

.question_box-feature .question_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #252733;
}

.question_box-feature .question_value {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}

.question_box-feature:last-child {
    border: none;
}