.header_wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_wrapper .header_name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
}

.header_wrapper .header_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_right .header_search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 5px;
    height: 35px;
    color: #C5C7CD;
}

.header_right .header_search input {
    border: none;
    outline: none;
    background: transparent;
}

.header_right .header_search input::placeholder {
    font-size: 14px;
}

.header_right .header_item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.header_right .header_item .header_item--icon {
    font-size: 25px;
    color: #C5C7CD;
    cursor: pointer;
}

.header_right .header_item .header_item--counter {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -4px;
    cursor: pointer;
}

.header_item--nickname {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
}

.header_item .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.btn_login {
    background: #3751FF;
    box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
    border-radius: 15px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}